.title{
    font-family: system-ui;
    background: black;
    color: rgb(238, 225, 225);
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
    
}

.Lucas{
    display:flex;
    justify-content:right;
    margin-bottom: 4px;

}

.submit{
    margin-right: 10px;


}

.Crash:hover{
    border: Solid yellow;


}
.caja{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    margin-right: 20px;
    
}

.contenedor{
    display: flex;
    border-width: 250px;
    height: 210px;
    border: 30px solid rgb(18, 8, 165);
    margin-left: -10px;

}


.Final{
    text-align: center;
}

.Capitulos{
    cursor: pointer
}


.Capitulos:hover{
    color: Blue;

}